<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Google and Wikipedia Smoke Test Suite" verbose="10" parallel="tests" thread-count="4">

    <test name="ChromeTest">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.googleSearchResultsTest.GoogleSearchNotEmptyTest">
            </class>
        </classes>
    </test>

    <test name="FirefoxTest">

        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.googleSearchResultsTest.GoogleSearchNotEmptyTest">
            </class>
        </classes>
    </test>

    <test name="EdgeTest">
        <parameter name="browser" value="Edge"/>
        <classes>
            <class name="tests.googleSearchResultsTest.GoogleSearchNotEmptyTest">
            </class>
        </classes>
    </test>
</suite>